body{
    background-color: rgb(72, 72, 146);
    padding: 0;
	margin: 0;
	height: calc(var(--vh, 1vh) * 100);
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color:white;
    height: auto;
	width: 100%;
};

.divBio{
    text-align: center;
    vertical-align: middle;
};

img {
	height: auto;
	width: auto;
}

p {
	font-size: 1vw;
};

  
/* ----NAV--- */

nav{
	width: 100%;
	height: 53px;
	background: rgba(45, 45, 45, .8);
	border-top: 1px solid rgba(255, 255, 255, .2);
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	position: sticky;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}

nav ul li{
	display: inline-block;
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
	padding: 0 15px;
	border: 1px solid #fff;
	transition: 0.6s ease;
	display: block;
	line-height: 51px;
	font-size: 1vw;
	font-weight: bold;
}

nav ul li a.active{
	background: white;
	color:#000;
}

nav ul li a:hover{ 
	color: rgb(182, 25, 25); text-decoration: none; 
	background-color: #fff;
}